* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bodydiv {
    background-color: #07081A;
}

.babaiaga {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #261C51;
}

#firstdiv {
    justify-content: space-between;
    width: 99px;
    align-items: center;
    display: flex;
    gap: 12px;

}



#header-ptag {
    color: #fff;
    font-size: 16px;
    width: 55px;
    justify-content: flex-end;
}



.header {
    max-width: 1040px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.information {
    align-self: stretch;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    width: 274px;
}

a {
    color: #fff;
    text-decoration: none;
}

.header-svg {
    display: flex;
    width: 32px;
    justify-content: center;
    border-radius: 8px;
    background: #9100D3;
}

.first-span {
    font-size: 16px;
    color: #B968DE;

}

.main-first-div {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-first-p {
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 48px;
}

.main-second-div {
    font-style: normal;
    justify-content: center;
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 32px;
}

.second-p-tag {
    color: #C0C0C0;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.first-button {
    display: flex;
    justify-content: center;

}

.second {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #9100D3;
}

.main-content-two {
    justify-content: center;
    gap: 90px;
    display: flex;
    padding: 0px 72px 24px 72px;
    width: 100%;
    align-items: flex-start;
    max-width: 896px;
}

.main--content {
    width: 167px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-p-tag {
    color: #FFF;
    font-size: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.last-wina-div {
    display: flex;
    max-width: 1040px;
    width: 100%;
    justify-content: space-evenly;

}

.last-div {
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    width: 256px;
    border-radius: 8px;
    border: 1px solid #261C51;
    gap: 16px;

}

.div-last {
    width: 256px;
    display: flex;
    color: #FFF;
    font-size: 20px;
}

.p-tag {
    font-size: 20px;
    display: flex;
    color: #C0C0C0;
    

}

.main {
    align-items: center;
}

.span {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    margin-top: 88px;
    border-top: 1px solid #261C51;
    justify-content: center;
}

.them {
    color: #FFF;
    font-size: 16px;
}

.footer-div {
    align-items: center;
    display: flex;
    max-width: 1040px;
    width: 100%;
    justify-content: space-between;
}

.get {
    align-items: center;
    display: flex;
    gap: 24px;
}

